@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,700;1,400&family=Fredoka:wght@300;500&family=Montserrat:wght@100;400;700&display=swap");
$font-family-base: "Fredoka", sans-serif;
$primary: #a400db;
$secundary: #de8efa;

@import "../node_modules/bootstrap/scss/bootstrap";

.nav-bg {
  background-color: $primary;
}

header {
  background-image: url(/images/pexels-guto-macedo-8444548.jpg);
  height: 200px;
  background-position: center;
  background-size: cover;
}

@include media-breakpoint-up(md) {
  header {
    height: 400px;
  }
}

.body-bg {
  background-color: $secundary;
}

.bg-title {
  background-color: $primary;
  opacity: $opasity;
}
